@model IEnumerable<BibleApp.Models.BibleVerseModel>
@{
    ViewData["Title"] = "Read";

    if (ViewBag.Book == null)
    {
        ViewBag.Book = "John";
        ViewBag.Chapter = 1;
    }
}
<nav class="navbar fixed-top navbar-light justify-content-center" style="background-color:#fafafa; margin-top:85px; z-index:2">
    <button class="btn btn-sm" style="margin-right:20px" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <h5 class="text-dark">@ViewBag.Book @ViewBag.Chapter &nbsp;&nbsp;&nbsp;&nbsp;<sub><i class="bi bi-caret-down-fill"></i></sub></h5>
    </button>
    <button class="btn btn-sm" type="button">
        <h5 class="text-dark">KJV &nbsp;&nbsp;&nbsp;&nbsp;<sub><i class="bi bi-caret-down-fill"></sub></i></h5>
    </button>
</nav>
<div class="container-fluid" style="margin-top:5%">
    <div class="row justify-content-center">
        <div class="col-8">
        <!--READ THE VERSE-->
        @{
            foreach (var item in Model.Where(verses => verses.BookName == ViewBag.Book))
            {
                if (item.Chapter == ViewBag.Chapter)
                {
                    <p><sub>@Html.DisplayFor(modelItem => item.Verse)</sub>  @Html.DisplayFor(modelItem => item.Text)</p>
                }
            }
        }
        </div>
    </div>
</div>

    <!--C# STUFF TO MAKE VERSES AND BOOK APPEAR CORRECTLY-->
    @{
        string[] booksOfBible = new string[] { "Genesis", "Exodus", "Leviticus", "Numbers", "Deuteronomy", "Joshua", "Judges", "Ruth", "1 Samuel", "2 Samuel", "1 Kings", "2 Kings", "1 Chronicles", "2 Chronicles", "Ezra", "Nehemiah", "Esther", "Job", "Psalms", "Proverbs", "Ecclesiastes", "Song of Solomon", "Isaiah", "Jeremiah", "Lamentations", "Ezekiel", "Daniel", "Hosea", "Joel", "Amos", "Obadiah", "Jonah", "Micah", "Nahum", "Habakkuk", "Zephaniah", "Haggai", "Zechariah", "Malachi", "Matthew", "Mark", "Luke", "John", "Acts", "Romans", "1 Corinthians", "2 Corinthians", "Galatians", "Ephesians", "Philippians", "Colossians", "1 Thessalonians", "2 Thessalonians", "1 Timothy", "2 Timothy", "Titus", "Philemon", "Hebrews", "James", "1 Peter", "2 Peter", "1 John", "2 John", "3 John", "Jude", "Revelation" };

        int[] chapters = new int[] { 50, 40, 27, 36, 34, 24, 21, 4, 31, 24, 22, 25, 29, 36, 10, 13, 10, 42, 150, 31, 12, 8, 66, 52, 5, 48, 12, 14, 3, 9, 1, 4, 7, 3, 3, 3, 2, 14, 4, 28, 16, 24, 21, 28, 16, 16, 13, 6, 6, 4, 4, 5, 3, 6, 4, 3, 1, 13, 5, 5, 3, 5, 1, 1, 1, 22 };
    }

    <!--OFFCANVAS FOR VERSE SELECTOR-->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Books</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container-fluid">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    @for (int b = 0; b < booksOfBible.Length; b++)
                    {
                        string bookname = booksOfBible[b];
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@bookname" aria-expanded="false">
                                    @bookname
                                </button>
                            </h2>
                            <div id="@bookname" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    @{
                                        for (int c = 1; c <= chapters[b]; c++)
                                        {
                                            <a href="?book=@bookname&chapter=@c" type="button" class="btn btn-outline-secondary" style="width:45px; height:30px;">@c</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
